
# Python venv (my naming conventions)
# i.e. .py312-arm64 ...
/.py*-*/

# python suggestions

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build


# richards editor files
*~
*.pre-rmo
*.swp
*.svn
.Rproj.user
packrat/lib*/
*.orig
